<h1>AiChallenge</h1>
<p>AI Challenge - это битва искусственных интеллектов, представленная в виде игры</p>
<p>Действие происходит в лесу, где армии муравьев, управляемые ИИ игроков, сражаются за господство над всем лесом.</p>
<p>Чтобы победить, нужно написать умный алгоритм, способный грамотно вести армию муравьев в бой и противостоять армиям других игроков</p>
<p>С 2 муравьев и до непобедимой армии! Управляй войсками, разделяй и властвуй. Начни завоевание леса!</p>

<%= link_to 'Users', users_path %>