<h1>Войти</h1>

<div>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <fieldset>
      <legend>Вход</legend>
      <div>
        <%= label_tag :name, 'Имя:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div>
        <%= label_tag :password, 'Пароль:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Вход" %>
      </div>
    </fieldset>
    <% end %>
</div>
