/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@font-face {
  font-family: OpenSans;
  src: url("open_sans.ttf"); }

@font-face {
  font-family: PtSans;
  src: url("pt_sans.ttf"); }

/* Buttons */
.button, button {
  font-family: "OpenSans";
  font-size: 16px;
  display: inline-block;
  text-align: center;
  height: 36px;
  padding: 0px 20px;
  margin: 10px;
  word-wrap: break-word;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid white;
  border: 1px solid #f2f2f2; }
  .button:hover, button:hover {
    border: 1px solid;
    border-color: #f2f2f2;
    background: #fafafa; }
  .button a, button a {
    width: 100%;
    display: block;
    line-height: inherit; }
    .button a:hover, button a:hover {
      background: none;
      color: inherit; }
  .button.green, button.green {
    background: #58c026;
    border: 1px solid #58c026; }
    .button.green:hover, button.green:hover {
      border: 1px solid;
      border-color: #44951e;
      background: #62d52b; }
  .button.light-green, button.light-green {
    background: #cbff93;
    border: 1px solid #cbff93; }
    .button.light-green:hover, button.light-green:hover {
      border: 1px solid;
      border-color: #b2ff60;
      background: #d7ffad; }
  .button.light-orange, button.light-orange {
    background: #ffe0a3;
    border: 1px solid #ffe0a3; }
    .button.light-orange:hover, button.light-orange:hover {
      border: 1px solid;
      border-color: #ffcf70;
      background: #ffe9bc; }
  .button.orange, button.orange {
    background: #f6b83f;
    border: 1px solid #f6b83f; }
    .button.orange:hover, button.orange:hover {
      border: 1px solid;
      border-color: #f4a60e;
      background: #f7c157; }
  .button.red, button.red {
    background: #ca3838;
    border: 1px solid #ca3838; }
    .button.red:hover, button.red:hover {
      border: 1px solid;
      border-color: #a32c2c;
      background: #cf4c4c; }
  .button.square, button.square {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

body {
  padding: 0px;
  margin: 0px; }

#head {
  text-align: center;
  height: 300px;
  width: 100%; }
  #head .left {
    float: left;
    height: 1px;
    width: 25%; }
  #head .center {
    vertical-align: middle;
    height: inherit;
    width: 50%;
    min-width: 550px;
    float: left; }
    #head .center span {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    #head .center img {
      vertical-align: middle; }
  #head .right {
    float: left;
    width: 25%;
    height: inherit; }
    #head .right .buttons {
      width: 150px;
      margin-top: 105px; }
    #head .right button {
      width: 150px;
      margin: 7px 0px 0 0; }

#side {
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 1%; }
  #side ul {
    list-style: none;
    padding: 0px; }
    #side ul button {
      width: 100%;
      margin: 10px 0 0 0; }

#main {
  float: left;
  width: 79%; }

#columns {
  clear: both; }
@font-face {
  font-family: OpenSans;
  src: url("open_sans.ttf"); }

@font-face {
  font-family: PtSans;
  src: url("pt_sans.ttf"); }
#main {
  text-align: justify; }
  #main h1 {
    text-align: center; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
/* Buttons */
.button, button {
  font-family: "OpenSans";
  font-size: 16px;
  display: inline-block;
  text-align: center;
  height: 36px;
  padding: 0px 20px;
  margin: 10px;
  word-wrap: break-word;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid white;
  border: 1px solid #f2f2f2; }
  .button:hover, button:hover {
    border: 1px solid;
    border-color: #f2f2f2;
    background: #fafafa; }
  .button a, button a {
    width: 100%;
    display: block;
    line-height: inherit; }
    .button a:hover, button a:hover {
      background: none;
      color: inherit; }
  .button.green, button.green {
    background: #58c026;
    border: 1px solid #58c026; }
    .button.green:hover, button.green:hover {
      border: 1px solid;
      border-color: #44951e;
      background: #62d52b; }
  .button.light-green, button.light-green {
    background: #cbff93;
    border: 1px solid #cbff93; }
    .button.light-green:hover, button.light-green:hover {
      border: 1px solid;
      border-color: #b2ff60;
      background: #d7ffad; }
  .button.light-orange, button.light-orange {
    background: #ffe0a3;
    border: 1px solid #ffe0a3; }
    .button.light-orange:hover, button.light-orange:hover {
      border: 1px solid;
      border-color: #ffcf70;
      background: #ffe9bc; }
  .button.orange, button.orange {
    background: #f6b83f;
    border: 1px solid #f6b83f; }
    .button.orange:hover, button.orange:hover {
      border: 1px solid;
      border-color: #f4a60e;
      background: #f7c157; }
  .button.red, button.red {
    background: #ca3838;
    border: 1px solid #ca3838; }
    .button.red:hover, button.red:hover {
      border: 1px solid;
      border-color: #a32c2c;
      background: #cf4c4c; }
  .button.square, button.square {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
/* Buttons */
.button, button {
  font-family: "OpenSans";
  font-size: 16px;
  display: inline-block;
  text-align: center;
  height: 36px;
  padding: 0px 20px;
  margin: 10px;
  word-wrap: break-word;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid white;
  border: 1px solid #f2f2f2; }
  .button:hover, button:hover {
    border: 1px solid;
    border-color: #f2f2f2;
    background: #fafafa; }
  .button a, button a {
    width: 100%;
    display: block;
    line-height: inherit; }
    .button a:hover, button a:hover {
      background: none;
      color: inherit; }
  .button.green, button.green {
    background: #58c026;
    border: 1px solid #58c026; }
    .button.green:hover, button.green:hover {
      border: 1px solid;
      border-color: #44951e;
      background: #62d52b; }
  .button.light-green, button.light-green {
    background: #cbff93;
    border: 1px solid #cbff93; }
    .button.light-green:hover, button.light-green:hover {
      border: 1px solid;
      border-color: #b2ff60;
      background: #d7ffad; }
  .button.light-orange, button.light-orange {
    background: #ffe0a3;
    border: 1px solid #ffe0a3; }
    .button.light-orange:hover, button.light-orange:hover {
      border: 1px solid;
      border-color: #ffcf70;
      background: #ffe9bc; }
  .button.orange, button.orange {
    background: #f6b83f;
    border: 1px solid #f6b83f; }
    .button.orange:hover, button.orange:hover {
      border: 1px solid;
      border-color: #f4a60e;
      background: #f7c157; }
  .button.red, button.red {
    background: #ca3838;
    border: 1px solid #ca3838; }
    .button.red:hover, button.red:hover {
      border: 1px solid;
      border-color: #a32c2c;
      background: #cf4c4c; }
  .button.square, button.square {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
