<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "errors") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Имя' %>:<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Пароль' %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label 'Повтор пароля' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label 'Имя' %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label 'Фамилия' %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать' %>
  </div>
<% end %>