/* Buttons */
@import "settings";
@import "mixins";

// Font
$font-family: PtSans;
$font-size: 16px;

// Size
$horizontal-padding: 2em;
$vertical-padding: 0.5em;

// Border
$border-radius: 2px;

// Button-theme
@mixin button-theme($color) {
  color: white;
  border: 1px solid darken($color, 19%);
  @include linear-gradient($color, darken($color, 10%));

  &:hover {
    background: darken($color, 11%);
  }
}

a.button {
  text-decoration: none;
}

.button, input[type='button'], input[type='submit'] {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: bold;
  display: inline-block;
  padding: $vertical-padding $horizontal-padding ($vertical-padding - 0.1em) $horizontal-padding;
  word-wrap: break-word;

  @include border-radius($border-radius);
  @include button-theme($default-color);

  color: black;

  &.green {
    @include button-theme($green-color);
  }

  &.orange {
    @include button-theme($orange-color);
  }

  &.red {
    @include button-theme($red-color);
  }

  &.wood {
    @include button-theme($wood-color);
  }
}

.button-group {
  .button {
    @include border-radius(0px);
    margin-left: -4px;
    border-right-width: 0px;

    &:first-child {
      @include border-radius-all($border-radius, 0, 0, $border-radius);
      margin: 0px;
    }

    &:last-child {
      @include border-radius-all(0, $border-radius, $border-radius, 0);
      border-right-width: 1px;
    }
  }
}
