/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "fonts";
@import "ui/all";

body {
	padding: 0px;
	margin: 0px;
   font-family: PtSans;
   font-size: 16px;
}

#head {
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 50px 0px;

	.left, .right {
		float: left;
		height: 1px;
		width: 25%;
	}

	.center {
		width: 50%;
		min-width: 550px;
		float: left;
	}

	.button-group {
		width: 100%;
		clear: both;
		text-align: center;
	}
}

#side {
	float: left;
	width: 20%;
	height: 100%;
	margin-right: 1%;

	ul {
		list-style: none;
		padding: 0px;

		button {
			width: 100%;
			margin: 10px 0 0 0;
		}
	}
}

#main {
	float: left;
	width: 79%;
}

#columns {
	clear: both;
}
