<!DOCTYPE html>
<html>
<head>
  <title>AiChallenge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name%>">
  <span id="head">
  	<div class="left"></div>
  	<div class="center">
  		<%= image_tag("logo2.png") %>
		</div>
  	<div class="right"></div>
    <div class="line">
      <% if session[:user_id] %>
        <div class="user">
          <%= session[:user_name] %>
        </div>
        <%= button_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <div class="button-group">
          <%= link_to 'Вход', login_path, {class: "button green"} %>
          <%= link_to 'Регистрация', new_user_path, {class: "button wood"} %>
        </div>
      <% end %>
    </div>
  </span>
  </div>
  <div id="columns">
  	<div id="side">
  		<ul>
  			<li><%= link_to 'Главная', main_path %></li>
				<li><a href="#">Как начать</a></li>
				<li><a href="#">Скриншоты</a></li>
				<li><a href="#">Правила</a></li>
				<li><a href="#">Примеры</a></li>
				<li><a href="#">Документация</a></li>
				<li><a href="#">Топ</a></li>
				<li><a href="#">Битвы</a></li>
				<li><a href="#">О нас</a></li>
  		</ul>
  	</div>
  	<div id="main"><%= yield %></div>
  </div>
</body>
</html>
